/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
* {
    outline: 1px red solid
}
*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.table {
    text-align: center;
}


.table tr:nth-child(even) {
    background: whitesmoke;
}


.TableColumName {
    background-color: whitesmoke;
}

.form-group, span {
    display: flex;
    vertical-align: middle;
    min-height: 50px;
}

.control-label {
    min-width: 125px;
    margin: 0;
    margin: auto;
    vertical-align: middle;
}

span {
    min-width: 300px;
    margin: 0;
    margin: auto;
    vertical-align: middle;
    margin-left: 5px;
}

.form-control {
    min-width: 200px;
    height: auto;
}

#FormInputMessage {
    min-height: 100px;
}

.ColumId {
    min-width: 10px;
}

.ColumName, .ColumTime {
    min-width: 100px;
}


.ColumComment {
    min-width: 300px;
}


#ColumOptionTable {
    min-width: 50px;
    max-width: 80px;
}



